* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
body {
  background-color: #000;
}
header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 128px 117px 79px 829px;
  grid-template-columns: 128px 117px 79px 829px;
  -ms-grid-rows: 100px 100px 495px ;
  grid-template-rows: 100px 100px 495px ;
}
header > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
header > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}
header > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
header > *:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
}
header > *:nth-child(5) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}
header > *:nth-child(6) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}
header > *:nth-child(7) {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
}
header > *:nth-child(8) {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
}
header > *:nth-child(9) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}
header > *:nth-child(10) {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
}
header > *:nth-child(11) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}
header > *:nth-child(12) {
  -ms-grid-row: 3;
  -ms-grid-column: 4;
}
header .logo {
  -ms-grid-column: 2;
      grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 1;
      grid-row-start: 1;
  -ms-grid-row-span: 0;
  grid-row-end: 1;
  background-color: red;
}
header .banner {
  -ms-grid-column: 2;
      grid-column-start: 2;
  -ms-grid-column-span: 3;
  grid-column-end: 5;
  -ms-grid-row: 3;
      grid-row-start: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 4;
}
header .logo img {
  width: 100%;
  height: 100%;
  display: block;
}
nav {
  -ms-grid-column: 4;
      grid-column-start: 4;
  -ms-grid-column-span: 1;
  grid-column-end: 5;
  -ms-grid-row: 1;
      grid-row-start: 1;
  -ms-grid-row-span: 0;
  grid-row-end: 1;
  background: #1c9aa2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 64px;
  -ms-grid-row-align: center;
      align-self: center;
}
nav a {
  color: #fafafa;
  text-decoration: none;
  font-family: Century Gothic ;
  font-size: 15px;
}
.banner img {
  display: block;
  width: 100%;
  height: 100%;
}
.banner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.banner h1 {
  position: absolute;
  color: #fafafa;
  font-family: Franklin Gothic ;
  font-size: 50px;
  letter-spacing: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px;
}
