doctype html 
html 
    head 
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title developerWeb 
        link(rel="stylesheet", href="css/index.css")
    body 
        header 
            .logo 
                img(src="images/logo.jpg", alt="", srcset="")
            nav 
                a(href="#") Home
                a(href="#") Projects
                a(href="#") Tutorials
                a(href="#") Blog
            .banner 
                h1 DEVELOPER WEB FULLSTACK
                img(src="images/bg1.jpg", alt="")
